<%= form_for [:admin, @blurb] do |f| %>
<%= form_fields(f, "Name", :name) %>
<%= form_fields(f, "cat", :cat) %>
<div class='form-group width-maxed'>
	<%= f.label "Content"  %>

	  <%= f.text_area :content, :rows => 8, :class => 'form-control'  %>
</div>
<div class='form-group width-maxed'>
	<%= f.label " "  %>   
	<%= f.submit "Submit", class: 'btn btn-inverse pull-right'  %>	
</div>
	
     


<% end %>