<div class="col-md-8">
<h1>Contact Us</h1>


<%= form_for :message, :url => send_message_path, :class => 'form-horizontal' do |f| %>
<div class='form-group'>
 <%= f.label "Your Name" %>
 
 <%= f.text_field :name, :class => "form-control" %>

</div>
 <div class='form-group'>
 <%= f.label "Your Email Address" %>
 
 <%= f.text_field :email, :class => "form-control" %>
</div>

<div class='form-group'>
 <%= f.label "Your Phone Number" %>
 
 <%= f.text_field :phone, :class => "form-control" %>

<div class='form-group'>
 <%= f.label "What it is about" %>
 
 <%= f.text_field :subject, :class => "form-control" %>
</div>

<div class='form-group'>
 <%= f.label "Your Message", :class =>'form-label' %>
 
 <%= f.text_area :text, :rows => 6, :style=>"width:100%;" %>
</div>

 
 <%= f.submit "Send", :class => 'btn btn-inverse' %>
</div>
<% end %>
</div>
<div class="col-md-4">
<p>Please fill in the form and submit or just phone Vince!</p>
<%= image_tag 'vincephone.png', :class => 'img img-responsive' %>
</div>
</div>
